<div id="adding_user">
  <h3>Add an user</h3>
    <form action="adding_user " method="post">
      <input name="name" type="text" placeholder="Name of the user">
      <br>
      <br>
      <button class="start pure-button" type="submit">Add</button>
    </form>
</div>