<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div id="adding_user">
    <form action="#" method="post">
      <input name="name" type="text" placeholder="Name of the user">
      <br>
      <input name="mail" type="text" placeholder="Email of the user">
      <br>
      <button type="submit">Add</button>
    </form>
  </div>
</body>
</html>