<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<div id="Header">
  <a href="/">Home</a>
  <a href="/overview">Overview</a>
  <a href="/calender">Calender</a>
</div>
<% if @parent %>
<div id="parent_logged_in">
      <span>Inloggad som <%= @parent.name %>
        <form action="/logout" method="post">
          <button type="submit">Logga ut</button>
        </form>
      </span>
</div>
<% end %>
  <div id="adding_user">
    <form action="adding_user " method="post">
      <input name="name" type="text" placeholder="Name of the user">
      <br>
      <button type="submit">Add</button>
    </form>
  </div>
</body>
</html>