<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<div id="Header">
  <a href="/">Home</a>
  <a href="/overview">Overview</a>
  <a href="/calender">Calender</a>
</div>
<% if @user %>
    <div id="user_logged_in">
      <span>Inloggad som <%= @user.name %>
        <form action="/logout" method="post">
          <button type="submit">Logga ut</button>
        </form>
      </span>
    </div>
<% end %>
<div id="calender">
  <iframe src="https://calendar.google.com/calendar/embed?src=stefan.chan%40itggot.se&ctz=Europe/Stockholm" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
</body>
</html>