<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div id="create_schedule">
    <form action="/create_schedule" method="post">
    </form>
  </div>
</body>
</html>