<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Event</title>
</head>
<body>
  <div id="create_event">
    <form action="/create_event" method="post">
      <input name="name" type="text" placeholder="Name">
      <br>
      <input name="date" type="date" placeholder="Date">
      <br>
      <input name="time" type="time" placeholder="Time">
      <br>
      <input name="description" type="text" placeholder="Description(Optional)">
      <button type="submit">Create Event</button>
    </form>
  </div>
</body>
</html>