<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/layout.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div id="Header">
    <div id="menu">
      <a class="pure-button" href="/">Home</a>
      <a class="pure-button" href="/overview">Overview</a>
      <a class="pure-button" href="/calender">Calender</a>
   </div>
    <% if @user %>
        <div id="logged_in">
          <span>Inloggad som <%= @user.name %></span>
          <form action="/logout" method="post">
            <button class="pure-button" type="submit">Logga ut</button>
          </form>
        </div>
    <% end %>
  </div>
  <div id="container">
  <% if @schedule %>
    <div id="create_lesson">
      <form action="/create_lesson" method="post">
        <input name="name" type="text" placeholder="Name">
        <br>
        <select name="day">
          <option value=" " disabled="disabled" selected="selected">Please select a day</option>
          <% for day in @week %>
            <option value="<%= day %>" id="<%= day %>"><%= day %></option>
          <% end %>
        </select>
        <br>
        <input name="time" type="text" placeholder="Time">
        <br>
        <button class="start pure-button" type="submit">Create Lesson</button>
      </form>
    </div>
  <% else %>
    <div id="create_schedule">
      <form action="/create_schedule" method="post">
        <button class="start pure-button" type="submit">Create Schedule</button>
      </form>
    </div>
  <% end %>
  </div>
</body>
</html>