
  <% if @schedule %>
    <div id="create_lesson">
      <h3>Create a lesson</h3>
      <form action="/create_lesson" method="post">
        <input name="name" type="text" placeholder="Name">
        <br>
        <select name="day">
          <option value=" " disabled="disabled" selected="selected">Please select a day</option>
          <% for day in @week %>
            <option value="<%= day %>" id="<%= day %>"><%= day %></option>
          <% end %>
        </select>
        <br>
        <input name="time" type="text" placeholder="Time">
        <br>
        <button class="start pure-button" type="submit">Create Lesson</button>
      </form>
    </div>
  <% else %>
    <div id="create_schedule">
      <h3>Create a schedule</h3>
      <form action="/create_schedule" method="post">
        <button class="start pure-button" type="submit">Create Schedule</button>
      </form>
    </div>
  <% end %>