
<div id="Start">
  <form id="Start" action="/register" method="get">
    <button class="start pure-button" type="submit">Get Started!</button>
  </form>
  <form id="Start" action="/parent_register" method="get">
    <button class="start pure-button" type="submit">Parents Click Here!</button>
  </form>
</div>
<div id="logo">
  <img src="/img/Logo.jpg">
</div>