<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Föräldrar</title>
</head>
<body>
  <div id="Confirmation">
    <p>Din konto är länkad med:</p>
    <br>
    <ul>
      <li></li>
    </ul>
    <br>
    <p>Väntande föräldrer-konton:</p>
    <br>
    <ul>
      <li></li>
    </ul>
  </div>
</body>
</html>