<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/css/layout.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <meta charset="UTF-8">
  <title>Overseer</title>
</head>
<body>
<div id="Header">
  <div id="menu">
    <a class="pure-button" href="/">Home</a>
    <a class="pure-button" href="/overview">Overview</a>
    <a class="pure-button" href="/calender">Calender</a>
  </div>
  <div id="login">
    <form action="/login" method="post">
      <input name="username" type="text" placeholder="Name">
      <input name="password" type="password" placeholder="Password">
      <button class="pure-button" type="submit">Logga in</button>
    </form>
  </div>
</div>
<div id="container">
<div id="create_parent">
  <h3>Create your parent</h3>
  <form action="/create_parent" method="post">
    <input name="name" type="text" placeholder="Name">
    <br>
    <input name="email" type="text" placeholder="Email">
    <br>
    <input name="password" type="password" placeholder="Password">
    <br>
    <br>
    <button class="start pure-button" type="submit">Skapa</button>
  </form>
</div>
</div>
</body>
</html>