
  <div id="delete_parent">
    <h3>Your account is linked with:</h3>
      <% for relation in @relations %>
        <%= relation.parent_name %>
        <form id="delete_parent" action="/relation/<%= relation.id %>/delete" method="post">
          <button class="start pure-button" data-message-id="<%= relation.id %>" type="submit">Remove</button>
        </form>
      <% end %>
  </div>
  <div id="Confirmation">
    <h3>Pending accounts:</h3>
    <br>
      <% for request in @requests %>
        <%= request.parent_name %></li>
        <form id="Confirmation" action="/adding_parent" method="post">
          <button class="start pure-button" type="submit">Accept</button>
        </form>
      <% end %>
  </div>