
<div id="create_parent">
  <h3>Create your account</h3>
  <form action="/create_parent" method="post">
    <input name="name" type="text" placeholder="Name">
    <br>
    <input name="email" type="text" placeholder="Email">
    <br>
    <input name="password" type="password" placeholder="Password">
    <br>
    <br>
    <button class="start pure-button" type="submit">Create</button>
  </form>
</div>