<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Föräldrar</title>
</head>
<body>
<div id="Header">
  <a href="/">Home</a>
  <a href="/overview">Overview</a>
  <a href="/calender">Calender</a>
</div>
<% if @user %>
    <div id="user_logged_in">
      <span>Inloggad som <%= @user.name %>
        <form action="/logout" method="post">
          <button type="submit">Logga ut</button>
        </form>
      </span>
    </div>
<% end %>
  <div id="Confirmation">
    <p>Your account is linked with:</p>
    <br>
    <ul>
      <% for parent in @parents %>
        <li><%= parent.parent_name %></li>
      <% end %>
    </ul>
    <br>
    <p>Pending parent accounts:</p>
    <br>
    <ul>
      <li></li>
    </ul>
  </div>
</body>
</html>