
  <div id="create_user">
    <h3>Create your account</h3>
    <form action="/create_user" method="post">
      <input name="name" type="text" placeholder="Name">
      <br>
      <input name="email" type="text" placeholder="Email">
      <br>
      <input name="password" type="password" placeholder="Password">
      <br>
      <p>Notification:
      <% for option in @options %>
        <label for="<%= option %>"><%= option %></label>
        <input name="notifications" id="<%= option %>" value="<%= option %>" type="radio">
      <% end %>
      </p>
      <button class="start pure-button" type="submit">Create</button>
    </form>
  </div>