body {
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
}

form#login {
    float: right;
}

form#menu {
    float: left;
    margin-left: 5px;
}

form#Start {
    float: left;
    margin-left: 5px;
}

form#logout {
    float: left;
    margin-left: 10px;
    margin-top: 15px;
}

span {
    float: left;
    margin-left: 5px;
    height: 36px;
}

li {
    height: 40px;
}

button.start.pure-button {
    color: white;
    background-color: #8C8F84;
    border-radius: 4px;
    border: 1px solid black;
    text-shadow: 0 1px 1px rgba(0, 0, 0,  0.2);
}

div#container {
    background-color: whitesmoke;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}

div#menu {
    float: left;
    width: 280px;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 10%;
}

div#Header {
    margin-top: -1%;
    margin-left: -1%;
    background: darkcyan;
    width: 102%;
    height: 6em;
}

div#login {
    float: right;
    margin-right: 10%;
    margin-left: 10px;
    padding-top: 2em;
    padding-bottom: 2em;
}

div#logged_in {
    float: right;
    margin-left: auto;
    margin-right: 10%;
    padding-bottom: 2em;
    padding-top: 1em;
}

div#Start {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 318px;
    height: 76px;
}

div#user_menu {
    width: auto;
    height: auto;
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

div#parent_menu {
    width: 242px;
    height: 38px;
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
}

div#events {
    width: 100%;
    height: auto;
    float: left;
}

div.event {
    float: left;
    width: auto;
    margin-right: 10px;
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    background-color: darkcyan;
    border: 1px solid black;
}

div#center_events {
    float: left;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

div#schedule {
    float: left;
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1em;
}

div#day {
    float: left;
    margin-right: 20px;
}

div#week {
    float: left;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

div#create_user {
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
    padding: 1em;
    width: 176px;
    height: 266px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

div#create_parent {
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
    padding: 1em;
    width: 176px;
    height: 206px;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
}

div#create_event {
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
    padding-left: 1em;
    padding-right: 0.5em;
    width: 192px;
    height: 292px;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
}

div#adding_user {
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-bottom: 2em;
    padding-right: 2em;
    width: 176px;
    height: 135px;
}

div#create_lesson {
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
    padding-left: 1em;
    padding-right: 1em;
    width: 176px;
    height: 192px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
}

div#create_schedule {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    border-radius: 4px;
    border: 1px solid black;
    background-color: white;
    height: 100px;
    width: 161px;
    padding-bottom: 2em;
    padding-right: 2em;
    padding-left: 2em;
}

div#calendar {
    width: 100%;
    margin-left: auto;
    margin-top: 2em;
    margin-right: auto;
}

div#lesson {
    margin-bottom: 10px;
    background-color: darkcyan;
    border-radius: 4px;
    border: 1px solid black;
}

div#Confirmation {
    padding-top: 1em;
}

div#logo {
    margin-top: 2em;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
}

img#logo {
    border-radius: 4px;
}

table#calendar {
    border:4px solid black;
    padding:1px;
    background-color:white;
    width:100%;
    margin:auto;
    height:100%;
}

th#calendar {
    border: 4px solid black;
    background-color:#ffffff;
    height: 36px;
}

td#calendar {
    border:1px solid black;
    background-color:#ffffff;
    text-align:center;
    height: 36px;
}

h1#events {
    text-align: center;
}

h1#calendar {
    text-align: center;
}

h3#calendar {
    color: darkcyan;
}

h3#header {
    float: left;
}

#wrapper {
    background: white;
    display: none;
}